<div class="controls">
  <div class="time-limit-input">
    <label>Input Timer Limit</label>
    <input class="input" [(ngModel)]="time" type="number" min="0" />
  </div>
  <div class="action-btn">
    <button (click)="startTimer()" type="button">Start</button>
    <button (click)="pauseTimer()" type="button">Pause</button>
    <button (click)="resetTimer()" type="button">Reset</button>
  </div>
</div>
<div class="logs">
  <p *ngFor="let log of logger">{{ log?.type }} at {{ log?.timerVal }}</p>
</div>
